# Worker asset redirects
ASSET_PROXY_URL="http://localhost:5173/"
# Worker asset forwarding
ASSET_PROXY_R2_BUCKET="MY_BUCKET"

# Client asset publishing; used during deployment
CF_ACCOUNT_ID="abc123"
R2_ACCESS_KEY_ID="abc123"
R2_BUCKET="my-bucket"
R2_SECRET_ACCESS_KEY="abc123"
